page-login{    
    ion-content{
        width: 100%;
        // background: url("../assets/img/shattered.png") repeat;

        .div-index{
            width: 100%;
            padding: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
                
            .div-logo{
                width: 100%;
                text-align: center;

                img{
                    height: 200px;
                }
            }

            .div-form{
                width: 100%;

                ion-input{
                    color: #000 !important;
                }
            }
        }
        
    }
    
}
scroll-content {
    overflow-y: auto !important;
}