<ion-header>
  <ion-navbar>
    <button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Grades Summary</ion-title> <!--*ngIf="!ifIOS"-->
    <!--<button *ngIf="has_selected" ion-button ion-text color="light" (click)="return()" class="disable-hover bar-buttons bar-buttons-md text text-md text-md-light bar-button bar-button-default bar-button-default-md bar-button-md-light bar-button-menutoggle bar-button-menutoggle-md">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-title *ngIf="!ifIOS">Grades Summary</ion-title>
    </button>-->
    <!--<ion-title *ngIf="ifIOS">Grades Summary</ion-title>-->
  </ion-navbar>
</ion-header>



<ion-content padding>
  <!--SUBJECTS OPTIONS-->
  <ion-fab top right edge #fab>
    <button ion-fab mini style="float:right;"><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="setGradesOptions('display_current_subjects', fab)" >Current</button>
      <button ion-fab (click)="setGradesOptions('display_all_subjects', fab)" >All</button>
    </ion-fab-list>
  </ion-fab>
  <b color="pcc">All Enrolled Subjects</b>
  <hr>
 
  <ion-list>
    <button ion-item full style="background-color: transparent;" *ngFor="let info of student_course_details" class="btn-list" (click)="getSelectedSemester(info.grades_arry_id)">
        {{info.semester}} Semester S.Y. {{info.school_year}}
    </button>
  </ion-list>
</ion-content>


