page-all-subjs {
    .button-md-light, .button-ios-light{
        background-color: transparent !important;
    }
    .btn-list{
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        text-align: left;
        color: #000;
    }
    
}
