<ion-header>
  <ion-navbar>
    <button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
    
  </ion-navbar>
  <div class="profile-header" text-center>
    <br><br>
      <span text-center font-18 ion-text color="light">{{showprofile.fname}} {{showprofile.mname}} {{showprofile.lname}}<br><span font-15 ion-text color="light">ID # {{showprofile.id}}</span></span>
  </div>
</ion-header>


<ion-content padding>
    <ion-segment [(ngModel)]="profile">
      <ion-segment-button value="course" ion-text color="dark">
        Course & Education
      </ion-segment-button>
      <ion-segment-button value="contact" ion-text color="dark">
        Contact
      </ion-segment-button>
    </ion-segment>
    <hr>
    <div [ngSwitch]="profile">

      <!--COURSE SEGMENT-->
      <ion-list *ngSwitchCase="'course'">
        <ion-grid>
          <ion-row row-bottom>
            <ion-col col-4>
              <b>Course:</b>
            </ion-col>
            <ion-col col-8>
              {{showprofile.course_desc}} {{showprofile.course_code}}
            </ion-col>
          </ion-row>
          <ion-row row-bottom>
            <ion-col col-4>
              <b>Admission:</b>
            </ion-col>
            <ion-col col-8>
              {{showprofile.admission_status}}
            </ion-col>
          </ion-row>
          <ion-row row-bottom>
            <ion-col col-4>
              <b>Year:</b>
            </ion-col>
            <ion-col col-8>
              {{showprofile.course_year}}
            </ion-col>
          </ion-row>
          <ion-row row-bottom>
            <ion-col col-4><b>High School:</b></ion-col>
            <ion-col col-8>{{showprofile.elem}}<br>Graduated {{showprofile.elem_yr_graduated}}</ion-col>
          </ion-row>
          <ion-row row-bottom>
            <ion-col col-4><b>Elementary:</b></ion-col>
            <ion-col col-8>{{showprofile.highschool}}<br>Graduated {{showprofile.hs_yr_graduate}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <!--CONTACT SEGMENT-->
      <ion-list *ngSwitchCase="'contact'">
        <ion-row row-bottom>
          <ion-col col-4><b>Address:</b></ion-col>
          <ion-col col-8>{{showprofile.address_in_baguio}}</ion-col>
        </ion-row>
        <ion-row row-bottom>
          <ion-col col-4><b>Contact:</b></ion-col>
          <ion-col col-8>{{showprofile.contact_num}}</ion-col>
        </ion-row>
        <ion-row row-bottom>
          <ion-col col-4><b>Father:</b></ion-col>
          <ion-col col-8>{{showprofile.father_name}}<br> Number ({{showprofile.father_contact}})</ion-col>
        </ion-row>
        <ion-row row-bottom>
          <ion-col col-4><b>Mother:</b></ion-col>
          <ion-col col-8>{{showprofile.mother_name}}<br> Number ({{showprofile.mother_contact}})</ion-col>
        </ion-row>
      </ion-list>

    </div>
</ion-content>
