page-profile {
    .profile-header{
        background-color: #272d29;
        height: auto;
        width: 100%;
        margin-top: -16px;
        padding: 10px 15px 15px 15px;
    }
    .segment-ios .segment-button, .segment-md .segment-button, .segment-wp .segment-button{
        border-color: #272d29;
        color: #272d29;
    }
    .segment-ios .segment-button.segment-activated, .segment-md .segment-button.segment-activated, .segment-wp .segment-button.segment-activated{
        background-color: #1E4902;
        color: #fff;
    }
    h2{
        color: #272d29;
    }
    [row-bottom]{
        // border-bottom: 0.5px solid #555;
        padding: 5px;
    }
    [col-4]{text-align: right;}
}
