<ion-header>
  <ion-navbar>
    <button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding style="padding-top: 10px;">
  <b ion-text color="pcc"><h4>Updates</h4></b> <span style="font-size: 10px;">(swipe left or right for more image)</span>
  <hr>
    <ion-slides [options]="{pager:true}" style="width: 100%; height: auto !important;">
      <ion-slide *ngFor="let slide of updates">
        <img src="{{slide.link}}">
      </ion-slide>
    </ion-slides> 
  <hr>
  <b ion-text color="pcc"><h4>News</h4></b>
  <hr>
    <ion-card *ngFor="let info of feed" style="margin: 0px 0px 20px 0px;" (click)="viewContent(info.postid)">
      <img src="{{info.imglink}}"/>
      <ion-card-content>
        <h3><b ion-text color="pcc">{{info.title}}</b></h3>
        <hr>
        <p>
          {{info.content | slice:0:150 }} ...
        </p>
        <hr>
        <ion-row>
          <ion-col float-right>
            <div icon-left clear small>
              <ion-icon name="calendar"></ion-icon>
              <b ion-text color="pcc">{{info.date_posted}}</b>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
</ion-content>
