<ion-header>
  <ion-navbar>
    <!--<button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>News Feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3><b ion-text color="pcc">{{post_details.title}}</b></h3>
  <ion-row>
    <ion-col float-left>
      <div icon-left clear small>
        <ion-icon name="calendar"></ion-icon>
        <b ion-text color="pcc">{{post_details.date_posted}}</b>
      </div>
    </ion-col>
  </ion-row>
  <hr>
  <ion-card style="margin: 0px 0px 20px 0px;">
      <img src="{{post_details.imglink}}"/>
      <ion-card-content>
        <p>
          {{post_details.content}}
        </p>
      </ion-card-content>
    </ion-card>
    <hr>
    <b ion-text color="pcc">Gallery Slide</b> (swipe left or right for more image)
    <br><br>
    <ion-slides [options]="{pager:true}" style="width: 100%; height: auto !important;">
      <ion-slide *ngFor="let slide of post_images">
        <img src="{{slide.link}}">
      </ion-slide>
    </ion-slides> 
</ion-content>
