// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// ---------------------- CSS
.toolbar-title-md{
    font-size: 1.5rem;
}
-webkit-scrollbar {
    width: 0.3em !important;
}
 
-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
 
-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  outline: 1px solid slategrey !important;
}
.nav-scroll{
    background-color: #272d29;
    height: 100%;
    width: 100%;
}
.list-md .item-block .item-inner{
    border-bottom: 0px !important;
}
.item-md, .item-ios, .item-wp{
    color: #fff;
    background-color: transparent;
}
.list-md{
    padding-left: 15px;
}
.list-ios > .item-block:first-child{
    border-top: 0px !important;
}
.extra-navs{
    border-top: 1px solid #fff;
    width: 100%;
    margin-top: 20px;
}
.fa{
    margin-right: 10px;
}
.toast-login-failed{
    > div{
        background-color: #6F142B !important;
    }
}
.toast-login-success{
    > div{
        background-color: #146f4d !important;
    }
}
.toolbar-background, .toolbar-background-md{
    background: #272d29 !important;
}
.title > div, .title-md > div{
    color: #fff;
}
.fab-md, .fab-ios, .fab-wp{
    background-color: #1E4902;
}
.fab-in-list.show{
    margin-bottom: 0px;
    border-radius: 0px;
    color: #fff;
    width: 100px;
}
ion-fab-list{
    position: initial;
    margin: 56px 0px;
}
.card-md, .card-ios{
    margin: 0px;
    width: 90vw;
}
.grade_info_left{
    float: left;
    width: 73vw; 
}
.grade_final_right{
    width: 50px; 
    text-align: center; 
    font-size: 10px;
}
td{
    padding: 5px;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default{
    color: #fff !important;
}
.item-ios.item-block .item-inner{
    border-bottom: none !important;
}

// ---------------------- MODULES ]
[float-right]{
    text-align: right;
}
[float-left]{
    text-align: left;
}
[text-center]{
    text-align: center;
}
[btn-grn]{
    background-color: #1E4902;
    color: #fff;
}
[btn-grn]:hover:not(.disable-hover){
    background-color: #366B14;
}
[user-header]{
    padding: 15px 5px;
    // margin: 10px 15px;
    // border-bottom: 1px solid #1E4902;
    // background-color: #203729;
    color: #fff;
}
[col-sm-4], [col-sm-8], [col-sm-6], [col-sm-10], [col-sm-2] {
    padding: 5px;
    display: inline-block;
}
[col-sm-6]{
    width: 49%;
}
[col-sm-4]{
    width: 30%;
}
[col-sm-8]{
    width: 60%;
}
[label-lg]{
    font-size: 16px;
}
[text-right]{
    text-align: right !important;
}
[tbl-subj]{
    height: 100px;
    width: 90vw;
    border: 1px solid #1E4902;
    margin: 10px 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}
[tbl-subj], [tbl-subj-td]{
    border: 1px solid #1E4902;
}
[tbl-col-grades]{
    background-color: #1E4902; 
    height: 30px; 
    width: 75px; 
    border-right: 1.5px solid #fff;
    color: #fff;
    vertical-align: bottom;
}
[fg-md-fin]{
    float: right;
    font-size: 18px; 
    margin: 0px 5px;
}
[font-10]{font-size: 10px;}
[font-13]{font-size: 13px;}
[font-8]{font-size: 8px;}
[font-18]{font-size: 18px;}
[font-15]{font-size: 15px;}