<ion-header>
  <ion-navbar>
    <button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Academic Calendar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <b>{{viewTitle}}</b><hr>
  <ion-buttons end style="text-align: center;">
    <button ion-button ion-text color="pcc" [disabled]="isToday" (click)="today()">Today</button>
    <button ion-button ion-text color="pcc" (click)="loadEvents()">Load Events</button>
    <br>
    <button ion-button ion-text color="pcc" (click)="changeMode('month')">Months</button>
    <button ion-button ion-text color="pcc" (click)="changeMode('week')">Weeks</button>
    <button ion-button ion-text color="pcc" (click)="changeMode('day')">Days</button>
  </ion-buttons>
  <br>
  <div class="has-header">
    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30">
    </calendar>
    
  </div>
</ion-content>
