<ion-header>
  <ion-navbar>
    <ion-title>My Grades Summary</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--SUBJECTS OPTIONS-->
    <ion-fab top right edge #fab>
      <button ion-fab mini style="float:right;"><ion-icon name="arrow-dropdown"></ion-icon></button>
      <ion-fab-list>
        <button ion-fab (click)="setGradesOptions('display_current_subjects', fab)" >Current</button>
        <button ion-fab (click)="setGradesOptions('display_all_subjects', fab)" >All</button>
      </ion-fab-list>
    </ion-fab>
    <b color="pcc">Previously Enrolled Subjects</b>
    <hr>

  <!--GRADES SUMMARY-->
    <ion-card style="padding-bottom: 10px;">
    <ion-card-content style="text-align: center;">
      {{subject_course.course_code}} {{subject_course.semester}} Semester S.Y. {{subject_course.school_year}}<br>
      <div style="display: inline-block;">Grade Point Average of <span style="font-size: 18px;"><b ion-text color="pcc">{{subject_course.gen_average}}</b></span></div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <div icon-left clear small style="padding-left: 16px;">
          <ion-icon name="book" style="display: inline-block;"></ion-icon>
          <div style="display: inline-block;">{{subj_count}} Subjects</div>
        </div>
      </ion-col>
      <ion-col>
        <div icon-left clear small style="padding-right: 16px;">
          <ion-icon name="bookmark" style="display: inline-block; "></ion-icon>
          <div style="display: inline-block;">{{units_count}} Units Total</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--GRADES LIST-->
    <table tbl-subj *ngFor="let info of student_grades">
      <tr>
        <td tbl-subj-td colspan="3" font-10>
          <div class="grade_info_left">
            <span style="font-size: 15px;"><b>{{info.subj_code}}</b></span> ( {{info.subj_desc}} )<br>
            Inst : {{info.subj_instructor}}<br>
            {{info.subj_schedule}} {{info.section_code}}<br>
            {{info.subj_units}} Units
          </div>
        </td>
        <td tbl-subj-td rowspan="2" class="grade_final_right">
          Finals Grade<br><br>
          <b color="pcc" font-18>{{info.fin_grade}}</b>
          <span *ngIf="info.grade_status == 'P'">Passed</span>
          <span *ngIf="info.grade_status == 'F'">Failed</span>
        </td>
      </tr>
      <tr>
        <td tbl-col-grades>
          <span style="float: left;" font-8>
              First<br>Grading
          </span>
          <span fg-md-fin>
            <div float-right>
              <span *ngIf="info.fg_grade != 'INC'">{{info.fg_grade}}</span>
              <span *ngIf="info.fg_grade == 'INC'" style="font-size: 13px;">{{info.fg_grade}}</span>
            </div>
          </span>
        </td>
        <td tbl-col-grades>
          <span style="float: left;" font-8>
              Midterms
          </span>
          <span fg-md-fin>
            <span *ngIf="info.md_grade != 'INC'">{{info.md_grade}}</span>
            <span *ngIf="info.md_grade == 'INC'" style="font-size: 13px;">{{info.md_grade}}</span>
          </span>
        </td>
        <td tbl-col-grades style="border-right: none;">
          <span style="float: left;" font-8>
              Finals
          </span>
          <span fg-md-fin>
            <span *ngIf="info.fin_grade != 'INC'">{{info.fin_grade}}</span>
            <span *ngIf="info.fin_grade == 'INC'" style="font-size: 13px;">{{info.fin_grade}}</span>
          </span>
        </td>
      </tr>
    </table>
</ion-content>
