<ion-header>
  <ion-navbar>
    <button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>App Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label ion-text color="dark"> Sync via Wifi Only</ion-label>
    <ion-toggle color="pcc" checked="false"></ion-toggle>
  </ion-item>
  <hr>
</ion-content>
