page-schedule {
    [tbl-sched]{
        height: auto;
        width: 90vw;
        border: 1px solid #1E4902;
        margin: 10px 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    }
}
