<ion-header>
  <ion-navbar>
    <button ion-button menuToggle ion-text color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Schedule</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row>
      <ion-col>
        <div icon-left clear small style="padding-left: 16px;">
          <ion-icon name="book" style="display: inline-block;"></ion-icon>
          <div style="display: inline-block;">{{subj_count_sched}} Subjects</div>
        </div>
      </ion-col>
      <ion-col>
        <div icon-left clear small style="padding-right: 16px;">
          <ion-icon name="bookmark" style="display: inline-block; "></ion-icon>
          <div style="display: inline-block;">{{units_count_sched}} Units Total</div>
        </div>
      </ion-col>
    </ion-row>
  <table tbl-sched *ngFor="let info of schedule">
      <tr>
        <td tbl-subj-td colspan="2" font-13>
          <span font-15><b>{{info.subj_code}}</b></span><br>
          ( {{info.subj_desc}} )<br><br>
          Schedule: <b>{{info.subj_schedule}}</b>
        </td>
        <td tbl-subj-td font-13>
          <span text-center><b>Units</b></span>
          <br><br>
          <span>Lec: {{info.subj_lec_units}}</span><br>
          <span>Lab: {{info.subj_lab_units}}</span>
        </td>
      </tr>
    </table>
</ion-content>
